mixin block-backgroung-betboom({ className })
  .b-backgroung-betboom(class=className)
    //- +svg({ name: "/img/background-gradient.svg" })
    //- +picture({ image: "/img/background-gradient.png" })
    +picture({ image: "/img/bg-betboom.png" })
