.f-field-betboom {
  @include transition(border-color);
  padding: 5px 11px;
  font-family: $font-default;
  background-color: $color-gray-129;
  border: 1px solid $color-gray-129;
  border-radius: 6px;
  &:hover {
    border-color: $color-anthracite;
  }
  &:focus-within {
    border-color: $color-pearl-blackberry;
  }
  &.error {
    border-bottom-color: $color-carmine-red;
    & + .f-field-betboom__error {
      display: block;
    }
  }
}
.f-field-betboom__label {
  display: block;
  font-family: inherit;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  color: $color-gray-800;
}
.f-field-betboom__field {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: $color-white;
  background-color: transparent;
  border: 0;
  outline: none;
  appearance: none;
  &::placeholder {
    font: inherit;
    color: $color-pearl-blackberry;
  }
  &::-webkit-credentials-auto-fill-button {
    // for hidden key icon in safari
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  &[type="number"]::-webkit-outer-spin-button, // webkit
  &[type="number"]::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }
  &[type="number"] {
    // firefox
    appearance: textfield;
  }
  @include mobile {
    font-size: 16px;
  }
}
.f-field-betboom__error {
  display: none;
  padding: 4px 12px 0 12px;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  color: $color-carmine-red;
}
