$color-gray-918: #eaeaea; // hsl(0, 0%, 91.8%)
$color-gray-816: #d0d0d0; // hsl(0, 0%, 81.6%)
$color-gray-800: #cccccc; // hsl(0, 0%, 80.0%)
$color-gray-649: #a1a1aa; // hsl(0, 0%, 64.9%)
$color-gray-094: #181818; // hsl(0, 0%, 09.4%)
$color-gray-129: #212121; // hsl(0, 0%, 12.9%)
$color-gray-122: #1f1f1f; // hsl(0, 0%, 12.2%)
$color-gray-071: #121212; // hsl(0, 0%, 07.1%)
$color-gray-051: #0d0d0d; // hsl(0, 0%, 05.1%)
$color-gray-004: #010101; // hsl(0, 0%, 00.4%)

$color-white: #ffffff;
$color-black: #000000;

$color-bg-captcha: #313036;
$color-anthracite: #3f3f46;
$color-gray-window: #a1a3ab;
$color-lemon-yellow-crayola: #fff340;
$color-yellow-school-bus: #f8e800;
$color-pearl-blackberry: #71717a;

$gradient: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, #0d0d0d 100%);

// $color-error: #ff4242;
