// fonts
$font-default: "Lato", sans-serif;
$font-title: "Giorgio Sans LCG", sans-serif;
$font-additional: "Gilroy", sans-serif;

// breckpoints
$mobile-width: 768px;

// container paddings
$padding: 108px;
$padding-mobile: 24px;
